In [14]:
test_list = ["oranage", "banana", "apple", "kiwi", "cherry"]
test_list.sort()
print(test_list)

['apple', 'banana', 'cherry', 'kiwi', 'oranage']

In [12]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [13]:
thislist.sort()

In [4]:
words = ['BAnana', 'Apple', 'cherry']
words.sort(key=str.lower)
print(words)

['Apple', 'BAnana', 'cherry']

In [5]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [6]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [7]:
thislist.sort(key=str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [8]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(reverse = True)
print(thislist)

['cherry', 'banana', 'Orange', 'Kiwi']

In [9]:
fruits = [4, 55, 64, 32, 16, 32]
x = fruits.index(32)
print(x)

3

In [10]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange', 'cherry']
x = fruits.index("cherry", 4)
print(x)

6

In [3]:
n_list = [
    [1, 2, 3],
    [4], 
    [7, 8],
    [9, 10, 11, 12]
]
print(n_list[1][1])

IndexError: list index out of range