In [1]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'cherry', 'banana', 'apple'}

In [8]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1, set2, set3, sep="\n")

{'cherry', 'apple', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

In [2]:
mylist = [True, 'two', 3, 4.5 ]
print(list(type(i) for i in mylist))

[<class 'bool'>, <class 'str'>, <class 'int'>, <class 'float'>]

In [3]:
[print(type(i), sep = "\n") for i in mylist]

<class 'bool'>
<class 'str'>
<class 'int'>
<class 'float'>

[None, None, None, None]

In [1]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [4]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'orange', 'cherry', 'banana'}

In [5]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'pineapple', 'papaya', 'mango', 'apple', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}



print(thisset)

{'cherry', 'pineapple', 'papaya', 'mango', 'apple', 'banana'}

In [6]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'apple', 'kiwi', 'orange', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ("kiwi", "orange", "banana")

thisset.update(mylist)

print(thisset)

{'cherry', 'apple', 'kiwi', 'orange', 'banana'}

In [10]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'microsoft', 'cherry', 'google', 'banana'}

In [11]:
mylist1 = [1, 2, 3]
mylist2 = [4, 5, 6]

mylist3 = mylist1 & mylist2
print

TypeError: unsupported operand type(s) for &: 'list' and 'list'